:root {
    --primary: #9ab3e2;
    --secondary: #21417e;
    --accent: #4676d3;
    --text: #e7edf7;
    --background: #030509;
}

.auto-margin {
    outline: 4px dotted lime;
}

#lampert-image-container {
    background-color: rgb(25, 80, 62);
}

#lampert-homepage-render {
    outline: 2px solid beige;
}

#title-container {
    background-color: rgb(61, 61, 236);
}

#subpage-buttons-container {
    background-color: rgb(17, 128, 126);
}

.subpage-button {
    background-color: brown;
}

.subpage-button:hover {
    transform: scale(1.1);
    transition: transform 100ms;
}