:root {
    --primary: #9ab3e2;
    --secondary: #21417e;
    --accent: #4676d3;
    --text: #e7edf7;
    --background: #030509;
}

@font-face {
    font-family: "Ubuntu";
    src: url('../assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url('../assets/fonts/Ubuntu/Ubuntu-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Rubik80sFade";
    src: url('../assets/fonts/Rubik80sFade/Rubik80sFade-Regular.ttf');
    font-style: "scaled";
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.auto-margin {
    margin: auto;
}

#title {
    margin: 3rem auto 0px auto;

    color: var(--text);
    font-family: "Rubik80sFade";
    font-style: "scaled";
    font-size: 6rem;
    line-height: 1.5em;
    text-align: center;
}

#subtitle {
    max-width: 48rem;
    margin: 0px auto 3rem auto;

    font-family: "Ubuntu";
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
    color: var(--primary);
}

#subpage-button-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 3rem auto auto auto;

    width: min(60rem, 90%);
    gap: 36px 36px;
    justify-content: center;
}

.subpage-button {
    display: flex;
    width: 16rem;
    height: 10rem;
    transform: scale(1);

    border-radius: 48px;
    background-color: var(--secondary);

    transition: transform 200ms;
}

.subpage-button:hover {
    transform: scale(1.1);
    transition: transform 100ms;
}

#page-footer {
    display: inline-block;
    width: 100%;
    min-width: 800px;
    height: 24vh;
    min-height: 108px;
    margin-top: 4rem;

    background-color: var(--secondary);
}

body {
    height: 120vh;
    margin: 0px;
    min-width: 800px;

    background-color: var(--background);
}
