.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.auto-margin {
    margin: auto;

    outline: 4px dotted lime;
}

#lampert-image-container {
    display: block;
    width: 40vw;
    height: 90vh;

    overflow: hidden;

    background-color: rgb(25, 80, 62);
}

#lampert-homepage-render {
    /* These number aren't random, they're based on image size ratio (1:1) and container size.*/
    height: 72vh;
    margin-top: 9vh;
    margin-left: calc((40vw - 72vh) / 2);

    outline: 2px solid beige;
}

#title-container {
    display:flex;
    width: 60vw;
    height: 30vh;

    margin: auto;

    background-color: rgb(61, 61, 236);

    > * > * {
        margin: 0;
        outline: 2px solid beige;
        color: rgb(247, 232, 99);
    }
}

#title {
    font-size: 6rem;
    text-align: left;
}

#description {

    max-width: 50vw;
    margin-top: 0.5em;
    
    font-size: 2rem;
    text-align: center;
}

#subpage-buttons-container {
    display: flex;
    width: 60vw;
    height: 60vh;

    background-color: rgb(17, 128, 126);
}

.subpage-button {
    width: 14vw;
    height: 14vh;

    margin: 2vh 2vw;

    border-radius: 48px;
    background-color: brown;
}

.subpage-button:hover {
    transform:scale(1.05)
}

#page-footer {
    display: inline-block;
    width: 100vw;
    height: 10vh;

    background-color: rgb(77, 27, 82);
}

body {
    margin: 0px;

    background-color: grey;
}
