.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

#lampert-image-container {
    display: block;
    width: 40vw;
    height: 90vh;

    overflow: hidden;

    background-color: rgb(25, 80, 62);
}

#lampert-homepage-render {
    /* These number aren't random, they're based on image size ratio (1:1) and container size.*/
    height: 72vh;
    margin-top: 9vh;
    margin-left: calc((40vw - 72vh) / 2);

    outline: 2px solid beige;
}

#title-container {
    display: inline-block;
    width: 60vw;
    height: 30vh;

    margin: auto;

    background-color: blue;
}

#subpage-buttons-container {
    display: inline-block;
    width: 60vw;
    height: 60vh;

    background-color: rgb(17, 128, 126);
}

#page-footer {
    display: inline-block;
    width: 100vw;
    height: 10vh;

    background-color: rgb(77, 27, 82);
}

body {
    margin: 0px;

    background-color: grey;
}
